// Media query

$md-desktop : 776px;


// Colors
$darkGrayishBlue: hsl(217, 19%, 35%) !default;
$desaturatedDarkBlue: hsl(214, 17%, 51%) !default;
$grayishBlue: hsl(212, 23%, 69%) !default;
$lightGrayishBlue: hsl(210, 46%, 95%) !default;
